# example jwt secret can be found at /multi_service_sign_in/src/auth.ts
# DO NOT USE IN PROD
GOOGLE_CLIENT_ID="234677186525-7pptsu7ec995iiukijg38pqp00rg08u1.apps.googleusercontent.com"
# LOGIN_URI="https://test.goodecodes.com/auth" # in production
# LOGIN_URI="https://localhost:3000/auth" # in testing
JWT_SECRET= # Secret used to sign the auth JWTs
JWT_EXPIRY=900 # (15 minutes)
MONGO_URI=mongodb://10.0.0.5
PRODUCTION=