# google client id and jwt secret can be found at /multi_service_sign_in/src/auth.ts
# shouldn't use those in prod
GOOGLE_CLIENT_ID= 
JWT_SECRET=
JWT_EXPIRY=900 # (15 minutes)
MONGO_URI=mongodb://10.0.0.5
PRODUCTION=